:root {
  --n-rows: 2;
  --n-cols: 11;
}
.hex-cell:nth-of-type(6n) {grid-column-start: 2}

#colmeia {
  --escala: calc(20vw/var(--n-cols));
  --altura: calc(0.5*var(--escala));
  --largura: calc(.5*1.73205*var(--escala));
  box-sizing: border-box;
  display: grid;
  place-content: center;
  grid-template: repeat(var(--n-rows), var(--escala))/repeat(var(--n-cols), var(--largura));
  grid-gap: var(--altura) 0;
  overflow: hidden;
  margin: 0;
  padding: var(--altura) 0;
}

.hex-cell {
  overflow: hidden;
  grid-column-end: span 2;
  margin: calc(-1*var(--altura)) 0;
  transform: scale(0.95);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.hex-cell img {
  --altura: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(calc(1 + var(--altura)));
  transition: .2s;
}

.hex-cell img:hover {
  --altura: 0.2;
}