body {
    text-align: justify;
}

p {
    padding: 0 0 0.5em;
    margin: 0;
}

h1, #ac-hp-speed p, #traits p {
    padding: 0;
    margin: 0;
}

h3 {
    margin: 0;
    padding: 0 0 1em;
}

#ficha-npc {
    width: 600px;
}

header, section{
    border-bottom: 2px solid;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#stats {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    text-align: center;
}

#stats div {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 0;
}