html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

form {
    width: 800px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

ul li {
    list-style-image: none;
}

label {
    font-size: 12px;
}

textarea {
    font-size: 12px;
    font-family: inherit;
    text-align: left;
    width: calc(100% - 20px - 2px);
    border-radius: 10px;
    padding: 10px;
    resize: none;
    overflow: hidden;
    height: 15em;
}

.box {
    margin-top: 10px;
}

.text-box {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
}

.list-section {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*
rules for the header
the header contains the character name, class & level, background, race, allignment and xp
*/

header {
    display: flex;
    align-items: stretch;
}

#character-name {
    border: 1px solid;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    padding: 5px;
    width: 30%;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    top: 0;
    margin: auto;
}

#character-name label {
    padding-left: 1em;
}

#character-name input {
    padding: 0.5em;
    margin: 5px;
    border: 0;
}

#character-main-info {
    width: 70%;
    border: 1px solid;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
}

#character-main-info ul {
    padding: 10px 0 5px 0;
    display: flex;
    flex-wrap: wrap;
}

#character-main-info ul li {
    width: 33.3333333%;
    display: flex;
    flex-direction: column-reverse;
}

#character-main-info ul li.double-column {
    width: 66.6666666%;
}

#character-main-info ul li label {
    margin-bottom: 5px;
}

#character-main-info ul li input {
    border: 0;
    border-bottom: 1px solid;
}


/* 
rules for the main character sheet
*/
main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.outer-section {
    width: 32%;
    display: flex;
    flex-direction: column;
}

/*
rules for the attributes
*/
#attributes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#att-scores {
    width: 101px;
    border-radius: 10px;
    padding-bottom: 5px;
}

#att-scores ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

#att-scores ul li {
    height: 80px;
    width: 70px;
    border: 1px solid;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.score label {
    font-size: 8px;
    font-weight: bold;
}

.score input {
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 2px 0 0 0;
    border: 0;
}

.modifier {
    margin-top: 3px;
}

.modifier input {
    width: 30px;
    height: 20px;
    border: 1px inset;
    border-radius: 20px;
    margin: -1px;
    text-align: center;
}

.att-label {
    position: relative;
    width: 100%;
    height: 18px;
    margin-top: 6px;
    border: 1px solid;
    border-left: 0;
    text-align: center;
}

.att-label label {
    position: absolute;
    left: 0;
    top: 1px;
    transform: translate(0%, 50%);
    width: 100%;
    font-size: 8px;
}

#inspiration, #proficiency-bonus, #passive-perception {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#inspiration input {
    appearance: none;
    border: 1px solid;
    padding: 15px;
    border-radius: 10px;
    margin: 0;
}

#proficiency-bonus input {
    width: 30px;
    height: 28px;
    border: 1px solid;
    text-align: center;
    border-radius: 10px;
}

.list-section ul {
    margin: 0;
    padding: 0;
}

.list-section ul li {
    display: flex;
    align-items: center;
}

.list-section ul li label {
    text-transform: none;
    font-size: 8px;
    text-align: left;
    order: 3;
}

.list-section ul li input[type=text] {
    width: 30px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid;
    order: 2;
}

.list-section ul li input[type=checkbox] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 10px;
    order: 1;
}

.list-section ul li input[type=checkbox]:checked {
    background-color: #f30;
}

.list-section .label {
    margin-top: 10px;
    margin-bottom: 3px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

#passive-perception input {
    width: 30px;
    height: 28px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
}

.text-box label {
    text-align: center;
    border: 1px solid;
    border-top: 0;
    font-size: 10px;
    width: calc(100% - 20px - 2px);
    border-radius: 0 0 10px 10px;
    padding: 4px 0;
    font-weight: bold;
}

.text-box textarea {
    border: 1px solid;
}

#other-profs textarea {
    height: 26em;
}

/*
rules for the physical attributes section
*/
#physical-attr {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
}

#physical-attr div {
    overflow: hidden;
}

#physical-attr .ac-init-speed {
    flex-basis: 33.33333%;
}

#physical-attr .ac-init-speed div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 10px;
}

#physical-attr .ac-init-speed div label {
    font-size: 8px;
    width: 50px;
    border: 1px solid;
    border-top: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0 0 10px 10px;
}

#physical-attr .ac-init-speed div input {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
    font-size: 30px;
}

#physical-attr .hp {
    flex-basis: 100%;
}

#physical-attr .hp .regular-hp {
    border: 1px solid;
    margin: 10px 10px 5px;
    border-radius: 10px 10px 0 0;
}

#physical-attr .hp .regular-hp .max-hp {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#physical-attr .hp .regular-hp .max-hp label {
    font-size: 10px;
    text-transform: none;
}

#physical-attr .hp .regular-hp .max-hp input {
    width: 40%;
    border: 0;
    border-bottom: 1px solid;
    font-size: 12px;
    text-align: center;
}

#physical-attr .hp .regular-hp .current-hp {
    display: flex;
    flex-direction: column-reverse;
}

#physical-attr .hp .regular-hp .current-hp label {
    font-size: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

#physical-attr .hp .regular-hp .current-hp input {
    border: 0;
    width: 100%;
    padding: 1em 0;
    font-size: 20px;
    text-align: center;
}

#physical-attr .hp .temporary-hp {
    margin: 0 10px 10px;
    border: 1px solid;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column-reverse;
}

#physical-attr .hp .temporary-hp label {
    font-size: 10px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

#physical-attr .hp .temporary-hp input {
    padding: 1em 0;
    font-size: 20px;
    border: 0;
    text-align: center;
}

#physical-attr .hitdice {
    flex: 1 50%;
    height: 100px;
}

#physical-attr .hitdice .hd-ds {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 80px;
}

#physical-attr .hitdice .hd-ds .total {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 5px 0;
}

#physical-attr .hitdice .hd-ds .total label {
    font-size: 10px;
    margin: 0.25em;
    text-transform: none;
}

#physical-attr .hitdice .hd-ds .total input {
    font-size: 12px;
    flex-grow: 1;
    border: 0;
    border-bottom: 1px solid;
    width: 50%;
    margin-right: 0.25em;
    padding: 0 0.25em;
    text-align: center;
}

#physical-attr .hitdice .hd-ds .remaining {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
}

#physical-attr .hitdice .hd-ds .remaining label{
    text-align: center;
    padding: 2px;
    font-size: 10px;
}

#physical-attr .hitdice .hd-ds .remaining input {
    text-align: center;
    border: 0;
    flex: 1;
}

#physical-attr .death-save {
    flex: 1 50%;
    height: 100px;
}

#physical-attr .death-save .hd-ds {
    margin: 10px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    height: 80px;
}

#physical-attr .death-save .hd-ds .label {
    text-align: center;
}

#physical-attr .death-save .hd-ds .label label{
    font-size: 10px;
}

#physical-attr .death-save .hd-ds .marks {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#physical-attr .death-save .hd-ds .marks .ds {
    display: flex;
    align-items: center;
}

#physical-attr .death-save .hd-ds .marks .ds label{
    font-size: 8px;
    text-align: right;
    flex: 1 50%;
}

#physical-attr .death-save .hd-ds .marks .ds .ds-check {
    flex: 1 40%;
    margin-left: 5px;
}

#physical-attr .death-save .hd-ds .marks .ds .ds-check input[type=checkbox] {
    appearance: none;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
}

#physical-attr .death-save .hd-ds .marks .ds .ds-check input[type=checkbox]:checked {
    background-color: black;
}

/*
rules for attacks and spellcasting
*/
#attacks-and-spellcasting {
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
}

#attacks-and-spellcasting div {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

#attacks-and-spellcasting div label {
    order: 3;
    text-align: center;
}

#attacks-and-spellcasting div table th {
    font-size: 10px;
}

#attacks-and-spellcasting div table input {
    width: calc(100% - 4px);
    border: 0;
    font-size: 10px;
    padding: 3px;
}

#attacks-and-spellcasting div textarea {
    border: 0;
}

.equipment {
    border: 1px solid;
    border-radius: 10px;
    margin-top: 10px;
}

.equipment > div {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.equipment > div label {
    order: 3;
    text-align: center;
    flex: 100%;
}

.equipment > div .money ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0;
    padding: 0;
}

.equipment > div .money ul li {
    display: flex;
    align-items: center;
}

.equipment > div .money ul li label {
    border: 1px solid;
    border-radius: 10px 0 0 10px;
    border-right: 0;
    width: 20px;
    font-size: 8px;
    text-align: center;
    padding: 3px 0;
    order: 0;
}

.equipment > div .money ul li input {
    border: 1px solid;
    border-radius: 10px;
    width: 40px;
    padding: 10px 3px;
    font-size: 12px;
    text-align: center;
}

.equipment > div textarea {
    flex: 1;
    border: 0;
}

/*
traits
*/
#traits {
    padding: 10px;
    border-radius: 10px;
}

#traits div:first-child {
    border-radius: 10px 10px 0 0;
}

#traits div:not(:first-child) {
    margin-top: 10px;
}

#traits div:last-child {
    border-radius: 0 0 10px 10px;
}

#traits div {
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
    border: 1px solid;
}

#traits div label {
    text-align: center;
    font-size: 10px;
    margin-top: 3px;
}

#traits div textarea {
    border: 0;
    border-radius: 0;
    height: 4em;
}

#features {
    padding: 10px;
}

#features div {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
}

#features div label {
    text-align: center;
}

#features div textarea {
    border: 0;
    padding: 5px;
    height: 43em;
}