@import "../cores.css";

#compendio {
    display: grid;
    grid-template-columns: auto 20vw;
    grid-template-rows: 100vh;

}
body, #painel-lateral {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0 0 0.5em;
}

h2 {
    padding-top: 0.5em;
    text-align: center;
}

#painel-lateral {
    grid-column: 2;
    place-content: center;
    text-align: center;
    background-color: var(--cor-dos-frames);
    position: fixed;
    right: 0;
    height: 100%;
    width: 20vw;
}

#lista-compendio {
    background-color: var(--cor-dos-frames);
    margin: 1em;
    text-align: justify;
    height: 100%;
}

#lista-compendio ul li {
    list-style-type: none;
}

#lista-compendio ul {
    padding: 1em;
}

#logo {
    width: 100px;
}

#area-do-card {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}