:root {
  --cor-do-texto: #f8fabb;
  --cor-do-background: #0f0d0f;
  --cor-das-bordas: #77777777;
  --cor-dos-titulos: #cab44a;
  --cor-dos-frames: #99999911;
  --cor-dos-campos: #0a0509;
  --detalhes: #99999911;
  --checked: #a0026d;
}

html,
body {
  background-color: var(--cor-do-background);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body,
p,
input,
textarea,
select {
  color: var(--cor-do-texto);
}

h1,
h2,
h3,
h4 {
  color: var(--cor-dos-titulos);
}

header,
section {
  border-color: var(--cor-das-bordas);
}

input,
textarea,
select {
  background-color: var(--cor-dos-campos);
}
