.pagina {
  display: grid;
  grid-template-columns: auto 600px auto;
  grid-template-rows: 100vh;
}

.login {
  padding: 30vh 0 0 0 ;
  margin: 0;
  grid-column: 2;
  place-content: center;
  text-align: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.campoFormulario {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-bottom: 2.5vh;
}

.campoFormulario label {
  margin-right: 5px;
}

.campoFormulario input {
  margin-left: 5px;
  border-radius: 5px;
}

.logo {
  width: 100px;
}

