.root {
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: 1fr 9fr;
  height: 100%;
  width: 100%;
}
.button {
  background-color: #0f0d0f;
  border-radius: 5px;
  color: #ffffff;
}
.buttonfixedSize {
  width: 8em;
  height: 100%;
}
.buttonFit {
  padding: 1em 0.5em;
  margin-right: 1em;
  white-space: nowrap;
}
.basicdiv {
  border: solid;
}
.inputText {
  height: 2.5em;
  width: 20em;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-color: #77777777;
  padding: 0 1em;
  border-width: 0.1em;
}
.InputSubmit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  margin: 0.3em;
  width: min-content;
}
.SessionAcess {
  display: flex;
  flex-direction: column;
}
.imageHolder {
  display: flex;
  padding: 0 1em;
}
.medium {
  height: 3em;
  width: 3em;
}
.small {
  height: 2em;
  width: 2em;
}
.VTTname {
  display: flex;
  align-items: Center;
}
.h3 {
  font-size: 2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: Center;
  padding: 1em;
}
.profileAccessDiv {
  display: flex;
  padding: 1em;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexAlignCenter {
  align-items: center;
  align-self: center;
}
.ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.sessionsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 1em;
}

.sessionName {
  font-size: 2em;
}

.colmeia {
  margin: 2em;
  padding: 2em;
  height: 800px;
  border-radius: 5%;
  background-color: var(--cor-dos-frames);
}
